.image1{
    border-radius: 8px;
    position:relative; 
    left:60%;
}
.image2{
    border-radius: 8px;
    position:relative; 
    left:60%;
}
.image3{
    border-radius: 8px;
    position:relative; 
    left:60%;
}